{{paper-input label="Notification text" value=model.notification.text}}
<div layout="row">
  <div flex layout layout-align="center center">
    {{#paper-checkbox checked=onEnter}}On enter{{/paper-checkbox}}
  </div>
  <div flex layout layout-align="center center">
    {{#paper-checkbox checked=onExit}}On exit{{/paper-checkbox}}
  </div>
</div>

<div layout>
  <div layout layout-align="center center">
    <span>on</span>
  </div>
  {{paper-slider flex=true warn=true discrete=true value=model.radius step="1" min="30" max="5000"}}
  <div layout layout-align="center center">
    {{model.radius}}m
  </div>
</div>

{{leaflet-map location=model}}
