{{#paper-nav-container open=drawerOpen class="ember-app"}}
  {{#paper-toolbar}}
    <div class="md-toolbar-tools right" layout-align="end center">
      {{#paper-button icon-button=true action="transitionTo" param="geofences.new"}}{{paper-icon icon="add"}}{{/paper-button}}
      {{#paper-button icon-button=true}}{{paper-icon icon="more-vert"}}{{/paper-button}}
    </div>
  {{/paper-toolbar}}
{{/paper-nav-container}}

{{#paper-content class="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each model as |geofence|}}
      {{#paper-item action="transitionTo" param="geofences.new" class="md-3-line"}}
        <div class="md-list-item-text">
          <p>
            {{geofence.notification.text}}
          </p>
          {{#paper-button icon-button=true param=item action="secondaryMessageClick"}}
            {{paper-icon icon="delete"}}
          {{/paper-button}}
        </div>
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}
