{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <span>Adding new geofence</span>
    <span flex></span>
    {{#paper-button icon-button=true action="save"}}{{paper-icon icon="save"}}{{/paper-button}}
  </div>
{{/paper-toolbar}}

{{#if isPending}}
  <div class="loading" layout="row" layout-align="center center">
    {{paper-progress-circular}}
  </div>
{{else}}
  {{geofence-form model=model}}
{{/if}}



