{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button icon-button=true action="back"}}{{paper-icon icon="navigate-before"}}{{/paper-button}}
    <span>Adding new geofence</span>
    <span flex></span>
    {{#paper-button icon-button=true action="save"}}{{paper-icon icon="done"}}{{/paper-button}}
  </div>
{{/paper-toolbar}}

{{working-indicator isWorking=isWorking}}

{{#loading-container promise=promise}}
  {{geofence-form model=model validate=validate isValid=isValid}}
{{/loading-container}}
